:root {
    --primary: #181818;
    --primary-light: #1e1e1e;
    --primary-very-light: #414141;
    --secondary: #050505;
    --secondary-contestant: #353a3b;
    --ascent: #E0E0E0;
    --ascent-very-transparent: #e0e0e056;
    --ascent-slightly-transparent: #e0e0e0c3;
    --searchbar: #727272;
    --sidebartext: #bac9c8;
    --sidebartext-contestant: #c5ece9;
}

header {
    position: fixed;
    display: flex;
    background-color: var(--primary);
    width: 100vw;
    height: 73px;
    justify-content: space-between;
}

.filler {
    height: 73px;
}

.leftcontainer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: start;
}

.sidebarbutton {
    background-color: transparent;
    display: flex;
    height: 100%;
    aspect-ratio: 1;
    border: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.sidebarbutton div {
    width: 50%;
    height: 3px;
    background-color: var(--ascent);
    border-radius: 100vw;
}

.searchbarcontainer {
    display: flex;
    height: 100%;
    margin-right: 3.125%;
    align-items: center;
    justify-content: end;
}

.searchbar {
    display: flex;
    background-color: white;
    width: 296.8px;
    height: 50%;
    border-radius: 100vw;
    border-style: solid;
    border-color: var(--searchbar);
    border-width: 2px;
    align-items: center;
}

.searchbar .inputbox {
    display: flex;
    width: calc(95% - 36.5px);
    height: 100%;
    border-top-left-radius: 100vw;
    border-bottom-left-radius: 100vw;
    cursor: text;
    align-items: center;
    justify-content: center;
}

.searchbar input {
    width: 80%;
    padding: 7.85px 22.55px 7.85px 22.55px;
    font-size: 18px;
    border: none;
    border-radius: 100vw;
    outline: none;
}

::placeholder {
    padding-left: 1px;
    color: var(--searchbar);
}

.searchbar .glass {
    display: flex;
    height: 100%;
    aspect-ratio: 1;
    margin-right: 5%;
    border-radius: 100vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchbar img {
    height: 75%;
}

.searchbar .glass:hover {
    background-color: var(--ascent);
}

.sidebaropener {
    position: fixed;
    top: 73px;
    left: 0px;
    width: 20px;
    height: calc(100vh - 73px);
    cursor: pointer;
    background-color: var(--ascent-very-transparent);
}

.sidebaropener.open {
    left: 250px;
}

.sidebaropener:hover {
    background-color: var(--ascent-slightly-transparent);
}

.sidebaropener img {
    position: absolute;
    width: 20px;
    top: calc(50vh - 46.5px);
}

.sidebarcloser_mobile {
    display: none;
    position: fixed;
    top: 73px;
    left: 250px;
    width: calc(100vw - 250px);
    height: calc(100vh - 73px);
}

.sidebar {
    position: fixed;
    top: 73px;
    left: -250px;
    width: 250px;
    height: calc(100vh - 73px);
    background-color: var(--secondary);
    justify-content: center;
}

.sidebar.open {
    left: 0px;
}

.sidebar div {
    display: flex;
    align-items: center;
}

.sidebar .subdivision {
    display: flex;
    display: none;
}

.sidebar a, .sidebar p {
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: var(--sidebartext);
    cursor: pointer;
}

.tab a {
    padding-left: 55px;
}

.sidebar img {
    position: absolute;
    width: 30px;
    left: 5px;
    cursor: pointer;
}

.sidebar div:hover {
    background-color: var(--primary-light);
}

.welcome {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 720px) {
    .sidebaropener {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .searchbar {
        width: 240px;
    }
}