:root {
    --primary: #181818;
    --primary-light: #1e1e1e;
    --primary-very-light: #414141;
    --secondary: #050505;
    --secondary-contestant: #353a3b;
    --ascent: #E0E0E0;
    --ascent-very-transparent: #e0e0e056;
    --ascent-slightly-transparent: #e0e0e0c3;
    --searchbar: #727272;
    --sidebartext: #bac9c8;
    --sidebartext-contestant: #c5ece9;
    --scrollbar: #808080;
    --scrollbar-light: #b9b9b9;
    --scrollbar-highlight: #555555;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-highlight);
}

::-webkit-scrollbar-button:single-button {
    height: 12px;
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
    border-radius: 2px;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23b9b9b9'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23808080'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23b9b9b9'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23b9b9b9'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23808080'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23b9b9b9'><polygon points='0,0 100,0 50,50'/></svg>");
}

header {
    position: fixed;
    display: flex;
    background-color: var(--primary);
    width: 100vw;
    height: 72px;
    justify-content: space-between;
    z-index: 4;
}

.filler {
    height: 72px;
}

.leftcontainer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: start;
}

.sidebarbutton {
    background-color: transparent;
    display: flex;
    height: 100%;
    aspect-ratio: 1;
    border: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.sidebarbutton div {
    width: 50%;
    height: 3px;
    background-color: var(--ascent);
    border-radius: 100vw;
}

.searchbarcontainer {
    display: flex;
    height: 100%;
    margin-right: 3.125%;
    align-items: center;
    justify-content: center;
}

.searchbar {
    display: flex;
    background-color: white;
    width: 300px;
    height: 40px;
    border-top-left-radius: 21.6px;
    border-top-right-radius: 21.6px;
    border-bottom-left-radius: 21.6px;
    border-bottom-right-radius: 21.6px;
    border-style: solid;
    border-color: var(--searchbar);
    border-width: 2px;
    align-items: center;
}

.searchbar .inputbox {
    display: flex;
    width: calc(95% - 36px);
    height: 100%;
    border-top-left-radius: 100vw;
    border-bottom-left-radius: 100vw;
    cursor: text;
    align-items: center;
    justify-content: center;
}

.searchbar .searchbarinputfield {
    width: 80%;
    padding: 7.85px 22.55px 7.85px 22.55px;
    font-size: 18px;
    border: none;
    border-radius: 100vw;
    outline: none;
}

::placeholder {
    padding-left: 1px;
    color: var(--searchbar);
}

.searchbar .glass {
    display: flex;
    height: 100%;
    aspect-ratio: 1;
    margin-right: 5%;
    border-radius: 100vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.searchbar img {
    height: 75%;
}

.searchbar .glass:hover {
    background-color: var(--ascent);
}

.searchbarsuggestions {
    position: fixed;
    width: 303.2px;
    top: 57.6px;
}

.searchbarsuggestions .suggestion {
    display: flex;
    background-color: white;
    height: 39.7px;
    border-style: solid;
    border-color: var(--searchbar);
    border-width: 2px;
    border-top-width: 0px;
    align-items: center;
}

.searchbarsuggestions a {
    width: 100%;
    height: 100%;
    line-height: 39.7px;
    padding-left: 24.15px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
}

.searchbarcloser {
    display: none;
    position: fixed;
    top: 72px;
    width: 100vw;
    height: calc(100vh - 72px);
    background-color: #00000080;
    z-index: 3;
}

.sidebaropener {
    position: fixed;
    top: 72px;
    left: 0px;
    width: 20px;
    height: calc(100vh - 72px);
    cursor: pointer;
    background-color: var(--ascent-very-transparent);
    z-index: 1;
}

.sidebaropener.sidebarisopen {
    left: 250px;
}

.sidebaropener:hover {
    background-color: var(--ascent-slightly-transparent);
}

.sidebaropener img {
    position: absolute;
    width: 20px;
    top: calc(50vh - 46.5px);
    transform: rotate(-90deg);
}

.sidebarcloser_mobile {
    display: none;
    position: fixed;
    top: 72px;
    width: 100vw;
    height: calc(100vh - 72px);
    background-color: #00000080;
    z-index: 1;
}

.sidebar {
    position: fixed;
    top: 72px;
    left: -250px;
    width: 250px;
    height: calc(100vh - 72px);
    background-color: var(--secondary);
    justify-content: center;
    overflow-y: auto;
    z-index: 2;
}

.sidebar.sidebarisopen {
    left: 0px;
}

.sidebar div {
    display: flex;
    align-items: center;
}

.sidebar .subject {
    display: none;
}

.sidebar a, .sidebar p {
    display: inline-block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 40px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--sidebartext);
    cursor: pointer;
}

.tab a {
    padding-left: 55px;
}

.sidebar img {
    position: absolute;
    width: 30px;
    left: 5px;
    cursor: pointer;
    transform: rotate(-90deg);
}

.sidebar div:hover {
    background-color: var(--primary-light);
}

.main-body {
    position: absolute;
    right: 0px;
    width: calc(100vw - 20px);
    padding: 0px 10px 0px 10px;
    animation-duration: 0.4s;
}

.main-body.sidebarisopen {
    width: calc(100vw - 270px);
}

@keyframes open {
    from {width: calc(100vw - 20px);}
    to {width: calc(100vw - 270px);}
}

@keyframes close {
    from {width: calc(100vw - 270px);}
    to {width: calc(100vw - 20px);}
}

.welcome {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 720px) {
    .sidebaropener {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .searchbar {
        width: 240px;
    }

    .searchbarsuggestions {
        width: 243.2px;
    }
}